.svgList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  
  @media (max-width: 992px) {
    justify-content: flex-start !important;
    gap: 10px;
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
    gap: 10px; 
  }

  @media (max-width: 576px) {
    justify-content: flex-start;
    gap: 10px; 
  }

  @media (max-width: 400px) {
    justify-content: flex-start;
    gap: 6px; 
  }
}

.svgItem {
  flex: 0 0 auto; 
  text-align: center; 
  margin: 0; 

  @media (max-width: 992px) {
    flex: 0 0 calc(100% / 6 - 10px); 
  }

  @media (max-width: 768px) {
    flex: 0 0 calc(100% / 6 - 10px); 
  }

  @media (max-width: 576px) {
    flex: 0 0 calc(100% / 6 - 10px); 
  }

  @media (max-width: 400px) {
    flex: 0 0 calc(100% / 8 - 1px); 
  }
}

.viewIcon {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 55px;
  border: 1.2px solid #EEE;
  background-color: #F6FAF9;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;

  &:hover {
    border-color: #E9ECE8;
    background-color: #EAF4F3;   
  }

  @media (max-width: 576px) {
    width: 52px;
    height: 52px;
  }
}
